html
  head
    title= title
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/2.1.0/dygraph.min.js"></script>
  body
    h1.kitty#kittyid= title
    h2= title2

    <div id="graphdiv"></div>
    <div id="graphdiv2"></div>

script.
 
 // console.log("message = " + message); // 'timestamp is not defined'
 // mymessage = !{message} // 'timestamp is not defined'
 // console.log("mymessage: " + mymessage)
 // kittystring = document.getElementById("kittyid");

 let kittystring = !{JSON.stringify(message)}
 let kittystring2 = !{JSON.stringify(message2)}

 console.log("kittystring = " + kittystring);

 g = new Dygraph(
       // containing div
       document.getElementById("graphdiv"),

       kittystring,

        {
          // customBars: true,
          title: 'Accelerometer Data for [' + !{JSON.stringify(qrcode)} + "]",
          ylabel: 'G Force',
          // legend: 'always',
          // showRangeSelector: true
        },
 );

  g2 = new Dygraph(
       // containing div
       document.getElementById("graphdiv2"),

       kittystring2,

        {
          // customBars: true,
          title: 'Step Data for [' + !{JSON.stringify(qrcode)} + "]",
          ylabel: 'Steps',
          // legend: 'always',
          // showRangeSelector: true
        },

 );

 console.log("miow");

 // const mongo_uri    = "mongodb+srv://burrough:mittens@stopfalls-neprh.mongodb.net/test?retryWrites=true&w=majority"
 // const MongoClient = require('mongodb').MongoClient;
 // MongoClient.connect(mongo_uri, function(err, db) {
 //      console.log("POST: MongoDB connected");
 //      if (err) throw err;
 //      var dbo = db.db(stopfalls_db);
 //      dbo.collection("stopfalls_activity").find(myqry).forEach(function(doc) {
 //          response_string += doc['timestamp'] + "," + doc['accelX'] + "," + doc['accelY']+ "," + doc['accelZ']
 //          console.log(doc);
 //        }, function(err) {
 //          if (err) {
 //            console.log(err);
 //          }
 //          // done or error
 //          console.log("finished processing ...");
 //          // response.send("response_string = [" + response_string + "]");
 //          // response.end(); // cause error 'cannot set headers after being sent'
 //        });
 //  });



// feature extraction
// 